// FONTS
$main-font-family: 'Montserrat', 'Arial', sans-serif;
$logo-deco-font: 'Amatic SC';

//FONT COLORS
$first-font-color: #030303;
$second-font-color: #ffffff;
$third-font-color: rgb(121, 121, 121);
$fourth-font-color: #9b9b9b;
$logo-text-color: rgb(111, 209, 20);

//  COLORS
$main-color: #ffffff;
$header-bg-color: rgb(58, 57, 57);
$second-background-color: #f3f3f3;
$third-color: #030303;
$hover-color: rgb(111, 209, 20);
$footer-color: #853433;
//NOTE-item
$note-color: #e16361;
$note-title-color: rgb(111, 209, 20);
$note-descr-color: rgb(58, 57, 57);
$note-border-color: rgb(105, 57, 57);
$note-ModalBG-color: rgb(175, 116, 116);
$note-button-ico: rgb(58, 57, 57);
$note-sort-label-color: #9b9b9b;

//media
$mobile-bp-max: 767px;
$mobile-w-min: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1210px;
$desktop-bp-max: 1679px;
$ladge-desktop-bp-min: 1680px;
$ladge-desktop-w: 1342px;
