.note-list {
  @media screen and (max-width: $mobile-bp-max) {
    justify-content: center;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.content_block {
  overflow: auto;
  max-width: 200px;
  @media screen and (max-width: $mobile-bp-max) {
    max-width: 250px;
  }
  // &::-webkit-scrollbar {
  //   /* chrome based */
  //   width: 3px; /* ширина scrollbar'a */
  //   background: $fourth-font-color; /* опционально */
  // }
}

.note-item {
  position: relative;
  background-color: $note-color;
  padding: 10px 10px 35px 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  margin-right: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: $note-border-color;
  border-radius: 5px;
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.16);

  @media screen and (min-width: $tablet-bp-min) {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  &_title {
    text-align: center;
    text-transform: uppercase;
    @include font-settings(1rem, 1.2, 700, $note-title-color);
    margin-bottom: 10px;
    @media screen and (max-width: $mobile-bp-max) {
      @include font-settings(1.2rem, 1.2, 700, $note-title-color);
    }
  }
  &_description {
    @include font-settings(0.8rem, 1.2, 400, $note-descr-color);
    margin-bottom: 10px;
    @media screen and (max-width: $mobile-bp-max) {
      @include font-settings(1rem, 1.2, 400, $note-descr-color);
    }
  }
}

.note-item_sort-lable {
  background-image: url(../images/drag.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -15px;
  left: -15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: $note-sort-label-color;
  cursor: pointer;
}

.yellow {
  background-color: rgb(216, 218, 107);
}
.grey {
  background-color: rgb(177, 177, 166);
}
.green {
  background-color: rgb(107, 218, 153);
}
