<li class="note-item">
    <div class="content_block">
        <h2 class="note-item_title">{{inputTitle}}</h2>
        <p class="note-item_description">{{inputMessage}}</p>
    </div>
    <button type="button" class="button-delete-note" data-button="button-delete-item">
    </button>
</li>