<li class="note-item">
    <span class="note-item_sort-lable"></span>
    <div class="content_block">
        <h2 class="note-item_title">{{inputTitle}}</h2>
        <p class="note-item_description">{{inputMessage}}</p>
    </div>
    <div class="fab">
        <span class="fab-action-button fab-action-button__icon">

        </span>
        <ul class="fab-buttons">
            <li class="fab-buttons__item icon-material fab-buttons__link" data-tooltip="green">

            </li>
            <li class="fab-buttons__item icon-material fab-buttons__link" data-tooltip="grey">

            </li>
            <li class="fab-buttons__item icon-material fab-buttons__link" data-tooltip="yellow">

            </li>
            <li class="fab-buttons__item icon-material fab-buttons__link icon-material_li" data-tooltip="delete"
                data-button="button-delete-item">

            </li>
        </ul>
    </div>
</li>